{{ partial "head.amp" . }}

<script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>

{{ partial "css.amp" . }}

</head>
<body>
{{ partial "header.amp" . }}
<main >
    <section>
        {{ partial "carrousel.amp" . }}
    </section>

    <section class="content">
        {{ .Content }}
    </section>

    <section class="bg-grey">
        <div class="content">

            <header class="center">
                <h2>Últimas notícias</h2>
            </header>

            <div class="grid3">
                {{ range first 3 (where .Data.Pages "Section" "blog") }}
                <article class="item">

                    {{ $prefix := .URL}}
                    {{ with .Param "thumbnail" }}
                    <div class="thumbnail block">
                        <amp-img src="{{$prefix}}/images/{{.file}}" layout="responsive" width="{{.width}}" height="{{.height}}"></amp-img>
                    </div>
                    {{ end }}

                    <h3><a href="{{ .URL }}">{{ .Title }}</a></h3>

                    <p>{{ .PublishDate.Format "2 de January del 2006"}}</p>

                </article>
                {{ end }}
            </div>

            <a class="button" href="../blog/amp"><p>Ver todo</p></a>
        </div>
    </section>
    
</main>

{{ partial "footer" .}}